.container-fluid
  .modal-header
    %h4
      = @user.name
  .modal-body
    %p
      %b Name:
      = @user.name
    %p
      %b Email:
      = @user.email
    %p
      %b Title:
      = @user.title
    %p
      %b Phone:
      = @user.phone
    %p
      %b Status:
      = @user.status ? "Active" : "Inactive"
  .modal-footer
    %button.btn.btn-dark{"data-dismiss" => "modal", :type => "button"} Close
