%h1 Trainual Engineer Assessment

= link_to 'Add User', new_user_path,  {'data-toggle' =>  "modal", 'data-target' => '#new-modal-window', class: 'btn', id: 'add_button', :remote => true}

#new-modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = render "new"
     
#show-modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = render "show"

#edit-modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        = render "edit"

#updated-users.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .updated-body

#create-users.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
  .create-body
    = render 'table'